.light-theme {
  --light-gray: var(--chakra-colors-gray-200);
  --gray: var(--chakra-colors-gray-300);
  --blue700: var(--chakra-colors-blue-600);
  --blue600: var(--chakra-colors-blue-500);
  --blue500: var(--chakra-colors-gray-400);
  --blue400: var(--chakra-colors-gray-300);
  --blue300: var(--chakra-colors-gray-200);
  --blue200: var(--chakra-colors-gray-200);
  --blue100: var(--chakra-colors-gray-100);
  --monthBackground: var(--chakra-colors-white);
  --locationButton: var(--chakra-colors-gray-100);
  --text: var(--chakra-colors-black);
  --negative-text: var(--chakra-colors-white);
}
.dark-theme {
  --light-gray: var(--chakra-colors-gray-600);
  --gray: var(--chakra-colors-gray-500);
  --blue700: var(--chakra-colors-blue-600);
  --blue600: var(--chakra-colors-blue-300);
  --blue500: var(--chakra-colors-gray-500);
  --blue400: var(--chakra-colors-gray-600);
  --blue300: var(--chakra-colors-gray-700);
  --blue200: var(--chakra-colors-gray-600);
  --blue100: var(--chakra-colors-gray-800);
  --monthBackground: var(--chakra-colors-gray-700);
  --text: var(--chakra-colors-gray-200);
  --locationButton: var(--chakra-colors-gray-700);
  --negative-text: var(--chakra-colors-black);
}
/* if you dont want to use chakra's theme use this class in the wrapping div. These are the exact original values */
.light-theme-original {
  --light-gray: #cccccc;
  --gray: #b3b3b3;
  --blue700: #2a69ac;
  --blue600: #3182ce;
  --blue500: #a0aec0;
  --blue400: #cbd5e0;
  --blue300: #e2e8f0;
  --blue200: #edf2f7;
  --blue100: #f7fafc;
}

.geolookup__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geolookup-wrapper,
.geolookup__input {
  display: block;
}

.geolookup__input {
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  border: 1px solid;
  border-color: var(--light-gray);
  background-color: transparent;
  width: 100%;
  min-width: 0px;
}

.geolookup__input:focus {
  border-color: var(--blue600);
  box-shadow: 0 0 0 transparent;
}

.geolookup__suggests {
  position: relative;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  border-radius: 0.25rem;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  background-color: transparent;
  border: 1px solid var(--light-gray);
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
  width: 100%;
  min-width: 0px;
}
.geolookup__suggests--hidden {
  border: transparent;
}
.geolookup__suggests--active {
  border: 1px solid var(--light-gray);
}
.geolookup__suggests--focus {
  border: 1px solid var(--light-gray);
}

.geolookup__item--active {
  background: #267dc0;
  color: #fff;
}

.geolookup__item:hover,
.geolookup__item:focus {
  background: var(--light-gray);
}

.geolookup__button {
  background: var(--locationButton);
  border-radius: var(--chakra-radii-md);
  height: var(--chakra-sizes-12);
  min-width: var(--chakra-sizes-12);
  padding-inline-start: var(--chakra-space-6);
  padding-inline-end: var(--chakra-space-6);
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  align-items: center;
  -webkit-box-pack: center;
  word-wrap: break-word;
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  font-weight: var(--chakra-fontWeights-semibold);
  font-size: var(--chakra-fontSizes-lg);
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);

  cursor: pointer;
}

.geolookup__button:hover {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  border-color: transparent;
  background: var(--light-gray);

  word-wrap: break-word;
}
